"Hello World"


<form action="/save_new_user" method="post" name="user">
  Nome do usuário
  <br>
  <input type="text" name="name" value=""></input>
  <button type="submit" name="button" value="Enviar">enviarrrrr</button>
</form>

<% @user.each do |user| %>
<li><%= user.id %> <%= user.name %></li>
<% end %>



<% if @user.last.id == 1 %>
  There is only one user
  <h1>Users cont: <%= @user.last.id %> user</h1>
<% else %>
  There are <%= @user.last.id %> users
  <h1>Users cont: <%= @user.last.id %> users </h1>
<% end %>
